<% include partials/header %>





<div class="row" id="home">
    <div class="col-md-12">
            <div id="mainImage">
                    <div id="mainContent">
                    <h1>Eights Consult Ltd.</h1>
                    <p>Helping get your organization up to speed...we train, we build and we coach.

                    </p>
                    <a href="" class="btn btn-success btn-large">Learn More</a>
                    </div>
            </div>
    </div>
</div>

<section id="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>About Us</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla ultricies risus nec congue. Quisque sollicitudin ex nulla, in egestas mauris iaculis vel. Nunc et gravida leo, pulvinar consectetur felis. Ut blandit sem nunc, a porttitor erat finibus sit amet. Pellentesque lacinia, tortor eu iaculis semper, tellus elit suscipit lorem, in molestie eros libero vitae ipsum. Phasellus eget bibendum felis. Nunc pellentesque mattis arcu, ut maximus erat ullamcorper vel. Vivamus orci ante, lacinia suscipit lacus et, aliquam lobortis justo. Ut faucibus iaculis purus, at congue ipsum placerat at. Ut pharetra turpis risus, et rutrum nunc accumsan in. Fusce rutrum nulla quis ullamcorper ultrices. Aliquam nulla nisl, lacinia malesuada nunc suscipit, convallis vulputate nisl. Integer ac volutpat est. In hac habitasse platea dictumst.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla ultricies risus nec congue. Quisque sollicitudin ex nulla, in egestas mauris iaculis vel. Nunc et gravida leo, pulvinar consectetur felis. Ut blandit sem nunc, a porttitor erat finibus sit amet. Pellentesque lacinia, tortor eu iaculis semper, tellus elit suscipit lorem, in molestie eros libero vitae ipsum. Phasellus eget bibendum felis. Nunc pellentesque mattis arcu, ut maximus erat ullamcorper vel. Vivamus orci ante, lacinia suscipit lacus et, aliquam lobortis justo. Ut faucibus iaculis purus, at congue ipsum placerat at. Ut pharetra turpis risus, et rutrum nunc accumsan in. Fusce rutrum nulla quis ullamcorper ultrices. Aliquam nulla nisl, lacinia malesuada nunc suscipit, convallis vulputate nisl. Integer ac volutpat est. In hac habitasse platea dictumst.</p>
                <p>Duis quis nibh a eros fringilla egestas. Nunc aliquet felis sed sapien viverra bibendum. Ut id sollicitudin elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet viverra sapien, et suscipit lorem. Etiam lobortis sagittis justo, quis efficitur erat mollis non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel neque venenatis, gravida ligula et, placerat nibh. Pellentesque porttitor, velit et tristique volutpat, ligula nisi egestas lorem, nec pulvinar nulla risus vel ipsum. Suspendisse elementum, tortor quis pretium varius, sapien quam volutpat tortor, ac interdum nulla dui pellentesque lorem.</p>
            </div>
        </div>
    </div>
</section>


<section id="sectionOne">
    <div class="container">
        <div class="row">
            <div>
                <div class="col-md-6">
                 <h4>Whats New?</h4>
                 <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla ultricies risus nec congue. Quisque sollicitudin ex nulla, in egestas mauris iaculis vel. Nunc et gravida leo, pulvinar consectetur felis.</p>
                 <div>
                 <img class="img-content img-thumbnail" src="http://thumbs.dreamstime.com/t/business-finance-concept-secure-shopping-online-brass-safety-lock-number-combination-gold-money-coins-creditcards-padlock-61003737.jpg"/>
                 </div>
                 <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla ultricies risus nec congue. Quisque sollicitudin ex nulla, in egestas mauris iaculis vel. Nunc et gravida leo, pulvinar consectetur felis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla ultricies risus nec congue. Quisque sollicitudin ex nulla, in egestas mauris iaculis vel. Nunc et gravida leo, pulvinar consectetur felis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla ultricies risus nec congue. Quisque sollicitudin ex nulla, in egestas mauris iaculis vel. Nunc et gravida leo, pulvinar consectetur felis.</small>
                </div>

                <div class="col-md-6">
                <h4>Trending Now</h4>
               
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla ultricies risus nec congue. Quisque sollicitudin ex nulla, in egestas mauris iaculis vel. Nunc et gravida leo, pulvinar consectetur felis. Ut blandit sem nunc, a porttitor erat finibus sit amet. Pellentesque lacinia, tortor eu iaculis semper, tellus elit suscipit lorem, in molestie eros libero vitae ipsum. Phasellus eget bibendum felis. Nunc pellentesque mattis arcu, ut maximus erat ullamcorper vel.</p>
                <div class="text-center">
                    <img class="img-content img-thumbnail" src="http://scd.mc-doualiya.com/ar/files/emissions/photo-generique-digital_0.JPG"/>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla ultricies risus nec congue. Quisque sollicitudin ex nulla, in egestas mauris iaculis vel. Nunc et gravida leo, pulvinar consectetur felis. Ut blandit sem nunc, a porttitor erat finibus sit amet. Pellentesque lacinia, tortor eu iaculis semper, tellus elit suscipit lorem, in molestie eros libero vitae ipsum. Phasellus eget bibendum felis. Nunc pellentesque mattis arcu, ut maximus erat ullamcorper vel.</p>
                </div>
            </div>  
        </div>
    </div>
</section>


<section id="projects">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>About Us</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla ultricies risus nec congue. Quisque sollicitudin ex nulla, in egestas mauris iaculis vel. Nunc et gravida leo, pulvinar consectetur felis. Ut blandit sem nunc, a porttitor erat finibus sit amet. Pellentesque lacinia, tortor eu iaculis semper, tellus elit suscipit lorem, in molestie eros libero vitae ipsum. Phasellus eget bibendum felis. Nunc pellentesque mattis arcu, ut maximus erat ullamcorper vel. Vivamus orci ante, lacinia suscipit lacus et, aliquam lobortis justo. Ut faucibus iaculis purus, at congue ipsum placerat at. Ut pharetra turpis risus, et rutrum nunc accumsan in. Fusce rutrum nulla quis ullamcorper ultrices. Aliquam nulla nisl, lacinia malesuada nunc suscipit, convallis vulputate nisl. Integer ac volutpat est. In hac habitasse platea dictumst.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla ultricies risus nec congue. Quisque sollicitudin ex nulla, in egestas mauris iaculis vel. Nunc et gravida leo, pulvinar consectetur felis. Ut blandit sem nunc, a porttitor erat finibus sit amet. Pellentesque lacinia, tortor eu iaculis semper, tellus elit suscipit lorem, in molestie eros libero vitae ipsum. Phasellus eget bibendum felis. Nunc pellentesque mattis arcu, ut maximus erat ullamcorper vel. Vivamus orci ante, lacinia suscipit lacus et, aliquam lobortis justo. Ut faucibus iaculis purus, at congue ipsum placerat at. Ut pharetra turpis risus, et rutrum nunc accumsan in. Fusce rutrum nulla quis ullamcorper ultrices. Aliquam nulla nisl, lacinia malesuada nunc suscipit, convallis vulputate nisl. Integer ac volutpat est. In hac habitasse platea dictumst.</p>
                <p>Duis quis nibh a eros fringilla egestas. Nunc aliquet felis sed sapien viverra bibendum. Ut id sollicitudin elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet viverra sapien, et suscipit lorem. Etiam lobortis sagittis justo, quis efficitur erat mollis non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel neque venenatis, gravida ligula et, placerat nibh. Pellentesque porttitor, velit et tristique volutpat, ligula nisi egestas lorem, nec pulvinar nulla risus vel ipsum. Suspendisse elementum, tortor quis pretium varius, sapien quam volutpat tortor, ac interdum nulla dui pellentesque lorem.</p>
            </div>
        </div>
    </div>
</section>


<section>
<div class="container">
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
        <img src="" class="img-resize" alt="...">
        <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
        </div>
    </div>
    
     <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
        <img src="" alt="...">
        <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
        </div>
    </div>
    
    
     <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
        <img src="" alt="...">
        <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
        </div>
    </div>
    
    
    
</div>
</div>
</section>

<section id="contactSection">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Let us know how will can help?</h2>
                <div class="form-group">
                    <label for="nameInput">Name:</label>
                    <input type="text" class="form-control" id="nameInput" placeholder="name" />
                </div>
                
                 <div class="form-group">
                    <label for="emailInput">Email:</label>
                    <input type="email" class="form-control" id="emailInput" placeholder="email"/>
                </div>
                 <div class="form-group">
                    <label for="messageInput">Message:</label>
                    <textarea class="form-control" placeholder="message" id="messageInput"></textarea>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>