div{
    padding: 0;
    margin: 0;
}

html, body{   
    height: aut0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
}

body{
    background: url('/imagess/main.jpg') center center no-repeat;
     background-color:white;
     -webkit-font-smoothing: antialiased;
     text-rendering: optimizeLegibility;
     color: black;
     padding:0px;
     margin: 0px;
     align-items: center;
}

h1{
     font-family: Orbitron, Roboto,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:#63666a;
    margin-bottom: 0;
}

h4{
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 2em;
   color:#fff;
}

.navbar-default .navbar-nav>li>a {
    color: #63666a;
    font-family:Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-default {
   background-color:#E0CAAB;
   background-color:#DCDFE5;
    border-color: #eeeeee;
}

.navbar {
    position: fixed;
    min-height: 40px;
    margin-bottom: 0;
    border: 1px solid transparent;
}

img{
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

#mainImage{
    background: url('/images/main.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    height: 400px;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    
}

.img-content{
    margin: 1em 0;
}

#mainImage h1{
    font-size: 4em;
    color:white;
    font-weight: bold;
    
}


.img-thumbnail{
    background-color: #262F36;
    border: 1px solid rgba(60, 118, 61, 0.13);
}

#mainImage p {
    font-size: 18px;
}

#mainContent{
    text-align: center;
    margin: 0 auto;
    color:yellow;
}

#sectionOne{
    
    padding:1.7em;
    background-color:#262F36;
    color:#ddd;
}

#sectionTwo{
    
    padding:1.7em;
    background-color: darkkhaki;
}

.img-resize{
    height: 242px;
    width: 200px;
}

#section{
    
    padding:1.7em;
   
}

.navbar-brand{
    font-family: Orbitron, Roboto,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contactSection{
    padding-bottom: 50px;
    background-color:#262F36;
    color: white;
}